.detailed-container {
    margin: 0 45px
}

.detailed-container .body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

.detailed-container .body .content {
    display: flex;
    flex-direction: row;
}

.detailed-container .body .content i {
    margin: 5px;
}

.detailed-container .events {
    display: flex;
    justify-content: flex-end;
}